.rdp-root {
    --rdp-accent-color: #01b0cb; 
    --rdp-accent-background-color: #dffbff;
    --rdp-day_button-border-radius: 8px;
    --rdp-selected-font: bold medium var(--rdp-font-family);
    --rdp-selected-border: 8px solid var(var(--rdp-accent-color))
  }